.text {
    word-wrap: break-word;
    width: 350px;
    margin: 0 0 0 50px;
    padding: 10px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 3px inset gold;
    border-radius: 10px;
    background-color: antiquewhite;
}